@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Roboto', sans-serif;
    --font-size-normal: 16px;
    --font-size-small: 11px;
    --bold-font: 700;
    --thin-font: 100;
    --normal-font: 400;
    --border-radius: 5px;
    --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    --white: #fff;
    --blue: #819bff;
    --green: #8ee676;
    --slow-transition: all ease-in-out 300ms;
}

html {
    font-size: var(--font-size-normal);
}

body {
    font-family: var(--font);
}

.month--container {
    border: solid 1px #ccc;
    padding: 1em;
    box-shadow: var(--box-shadow);
    width: 50vw;
    display: grid;
}

.month--name {
    justify-self: center;
    padding: 0.1rem;
    font-weight: var(--normal-font);
}

.icon {
    cursor: pointer;
}

.icon--left {
    margin-right: 1rem;
}

.icon--right {
    margin-left: 1rem;
}

.week--container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
}

.day--of--month {
    padding: 1em;
    font-size: 0.8rem;
    color: #848484;
    cursor: pointer;
}

.day--of--month:hover {
    opacity: 0.7;
}

.active--date {
    background-color: #2b34c8;
    color: #fff;
    border: solid 1px #07c1e4;
}

.no--hover {
    cursor: default !important;
}